
*
{
	padding: 0;
	margin: 0;
}
body
{
	    font-family: "Roboto",sans-serif!important;
	    line-height: 27px!important;
}
.pl-5
{
  padding-left: 3rem!important
}
a{
	vertical-align: baseline;
}
/*Header top */
.navbar-toggler-edit:focus
{
	  box-shadow: 0 0 0 0 rgb(13 110 253 / 25%)!important;
}
.navbar-toggler-edit
{
	display: block;
	margin-right: 12px;
	margin-top: 4px;
	height: 38px;

}

.navbar-nav-home
{
	justify-content: center;
}
.img-main
{
	width: 175px;
}

.p-top-0
{
	padding-top: 1px!important;
	padding-bottom: 0px!important;
	padding-left: 6px!important;
}
.ml-40
{
	margin-left: 40px!important;
    padding-left: 15px!important;
    margin-right: 40px!important;
    padding-right: 15px!important;
}
.p-imp
{
	padding: 10px 8px!important;
}
.nav-link
{
	color: #4d4d4d!important;
}
.nav-item
{
	font-size: 15px;
	
}
.navbar-collapse
{
	flex-basis : 0%!important;
	    flex-grow: 0!important;
}
.navbar-nav
{
	flex-direction: row!important;
}
.container-fluid
{
	align-items: normal!important;
}


/*mobile-nav-menu start*/
    
   .mobile-nav-menu
{
	z-index: 9999;
	    overflow-y: auto;

	border-left: 8px solid #0067b4;
	width: 100%;
	max-width: 550px;
	height: 100%;
    top: 0;
    position: fixed;
    right: -50%;
    background: #fff;
    transition: all .7s ease;
}
.mobile-nav-menu ul
{
     flex-direction: column!important;
}
.mobile-nav-menu ul li
{
	display: block;
	
}
.mobile-nav-menu ul li a
{
	color: #007bff!important;
	text-decoration: none;
	font-size: 18px;
}
.mobile-nav-menu ul li a:focus
{
	border: 0px solid grey;

}

.ml-auto-1
{
	float: right;
	padding: 15px;
	display: block;
	font-size: 25px;
	color: #007bff;
} 

.btn-size i
{
	font-size: 24px!important;
	color: #007bff!important;
}
.btn-size i:hover
{
	color: #0056b3;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}
.btn-size:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%)!important;
}


/*mobile-nav-menu end*/

/*Header Top end */

.clear-fix
{
	height: 1000px;
}